// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  --background-color: #2d4053;
  --ion-background-color: #2d4053;
  --ion-toolbar-background: #2d4053;
  --ion-text-color: white;
}

.md {
  //--background-color: orange;
  --ion-background-color: orange;
  --ion-toolbar-background: orange;
  --ion-text-color: white;

  --ion-color-danger: #4ed4e0;
  --ion-color-danger-rgb: 78,212,224;
  --ion-color-danger-contrast: #000000;
  --ion-color-danger-contrast-rgb: 0,0,0;
  --ion-color-danger-shade: #45bbc5;
  --ion-color-danger-tint: #60d8e3;

  --ion-color-primary: #8e45ff;
  --ion-color-primary-rgb: 142,69,255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #7d3de0;
  --ion-color-primary-tint: #9958ff;
}